<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PSYCHOLOGY</title>
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.min.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}">
  <script src="https://kit.fontawesome.com/00dba8da38.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/styles.min.css}">


</head>
<body>
    <header>
        <nav >
          <div class="container">
            <div class="row">
              <div class="col-md-12">
            <ul class="nav_list">
              <li class="menu_item"><a href="/" class="menu_link">Главная</a></li>
              <li class="menu_item"><a href="#" class="menu_link">Наука психология</a></li>
              <li class="menu_item"><a href="#" class="menu_link">Наука неиробиология</a></li>
              <li class="menu_item"><a href="/coaches" class="menu_link">Наши психологи</a></li>
              <li class="menu_item"><a href="#" class="menu_link">Контакты</a></li>
              <li class="menu_item"><a th:href="${loginValue}" th:text="${loginText}" class="menu_link"></a></li>
            </ul>
         </div>
        </div>
      </div>

        </nav>
       
    <div class="bage">
        <div class="container">
          <div class="row">
          <div class="col-lx-4 offset-lx-1 col-md-4 ">
            <a class="subheader_link" href="#"><img class="Uber777_img" src="img/logo/Uber777.png" alt=""></a>
            
            <div class="descr_Uber">Сообщество врачей</div>
          </div>
          
        
          <div class="col-xl-2 offset-xl-2 col-md-3 offset-md-1">
            <div class="descr_phone">Звоните нам ежедневно</div>
            <a class = "phone_link" href="tel:+79527411697">8 952 741 16 97</a>
                </div>
          <div class="col-md-2 ">
            <form th:action="@{/logout}" method="post">
              <button class="button_phone" type="submit" value="Sign Out">Выход</button>
            </form>
                
           
          </div>
          </div>
          <section>
            
            <div class="row">  
              <div class="col-md-2">
                <table>
                                    
                  <tr>
                    <td><img class = "weaterIcon" th:src="@{'img/48/' + ${icon}+ '.png'}" alt=""></td><td class = thempTable th:text = "${temp}"></td>
                  </tr> 
                  <tr class = "ThemperParametrs">
                    <td >Скорость ветра</td><td th:text = "${wind_speed}"></td>
                  </tr> 
                  <tr class = "ThemperParametrs">
                    <td>Порыв ветра</tdclass><td th:text = "${wind_gust}"></td>
                  </tr> 
                  <tr class = "ThemperParametrs">
                    <td>Давление мм.р.с.</td><td th:text = "${pressure_mm}"></td>
                  </tr> 
                  <tr class = "ThemperParametrs">
                    <td>Температура</td><td th:text = "${temp}"></td>
                  </tr> 
                  <tr class = "ThemperParametrs">
                    <td>Чувствуется как</td><td th:text = "${feels_like}"></td>
                  </tr> 
                  <tr class = "ThemperParametrs">
                    <td>Влажность воздуха</td><td th:text = "${humidity}"></td>
                  </tr>                   
                </table>                
                     <img class = "logotypeWeather" src="img/48/logo.png" alt="">                    
              </div>           
              <div class="col-md-8 ">
                <h1 class = "header_text1">Сервис PsychologySu!</h1>
                <h2 class = "header_text2" >Всегда готовы вам помочь</h2>
                <div class="description">Наша компания работает с проверенными психологами, имеющими опыт работы. 
                </div>
                <button class = "section_button">ОТПРАВИТЬ ЗАЯВКУ!</button>
              </div>
             
            </div>
            
          </section>
      </div>
    </div>
    </header>
    <section class="content_menu">
      <div class="container">
          
          <div class="row">
            
              <div class="col-md-8 offset-md-2">
                <div class="label">
                  преимущества
                </div>
                <h1 class = "header_content_menu">8 причин начать работать с нами</h1>
              </div>
          </div>
          <div class="row flex-row align-items-center mt-4">
                <div class="col-md-2 ">
                  <div class="column_fone">
                    <img src="img/icons/wallet.png" alt="wallet" class="wallet_img">
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="column_description_header">На нашем сервисе не существует привязки к врачу<br><br></div>
                  <div class="column_description_text">Главная задача нашего сервиса в помощи вам, поэтому мы отвергаем данные модели поставки услуг</div>
                </div>
                <div class="col-md-2 ">
                  <div class="column_fone">
                    <img src="img/icons/display.png" alt="ease" class="easel_description">
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="column_description_header">
                      Научное обоснование вашей проблемы   <br><br>               
                    </div>
                    <div class="column_description_text">
                      Сообщества PsychologySu в большинстве случаев рассматривает вашу ситтуацию именно с научной точки зрения, формируя непротиворечивую гипотизу
                    </div>
                </div>
          </div>
         
        <div class="row align-items-center mt-4">
              <div class="col-md-2 mt-7">
                <div class="column_fone">
                  <img src="img/icons/money.png" alt="money" class="money_img">
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="column_description_header">Профессиональное оборудование<br><br></div>
                <div class="column_description_text">Данные технологии используются только с согласия клиента. Технологии, позволяющие отслеживать ваше состояние, позволяют очень быстро понять вашу проблемму.  </div>
              </div>
              <div class="col-md-2 ">
                <div class="column_fone">
                  <img src="img/icons/calendar.png" alt="calendar" class="calendar_description">
                </div>
              </div>
              <div class="col-md-4">
                  <div class="column_description_header">
                    Использование различных тестов <br><br>                 
                  </div>
                  <div class="column_description_text">
                   Тесты используются для уточнения диагноза, как научного доказательства той гипотезы, которую создал врач.
                  </div>
              </div>
          </div>

          <div class="row align-items-center mt-4">
            <div class="col-md-2 mt-7">
              <div class="column_fone">
                <img src="img/icons/key.png" alt="key" class="key_img">
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="column_description_header">Экстренная помощь в случае тяжелой ситтуации<br><br></div>
              <div class="column_description_text">В случае тяжелой ситтуации мы предоставляем неотложную помощь с госпитализацией.</div>
            </div>
            <div class="col-md-2 ">
              <div class="column_fone">
                <img src="img/icons/geo.png" alt="geo" class="geo_description">
              </div>
            </div>
            <div class="col-md-4">
                <div class="column_description_header">
                  Направленность на решение вашей проблемы<br><br>                 
                </div>
                <div class="column_description_text">
                 В случае неудачный диагнозов, подключаются другие специалиты, для решения вашей проблемы. 
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-4">
          <div class="col-md-2 mt-7">
            <div class="column_fone">
              <img src="img/icons/layer_13_94.png" alt="key" class="key_img">
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="column_description_header">Использование специального протокола работы с пациентами<br><br></div>
            <div class="column_description_text">При передачи какой-либо информации о пациенте, составляется обезличенная карта клиента, исключающая хоть-какие наводящие детали</div>
          </div>
          <div class="col-md-2 ">
            <div class="column_fone">
              <img src="img/icons/layer_17_99.png" alt="geo" class="geo_description">
            </div>
          </div>
          <div class="col-md-4">
              <div class="column_description_header">
                Исключение передачи информации с профессионального оборудования<br><br>                 
              </div>
              <div class="column_description_text"> Вся информация с профессионального оборудования помещается на карту памяти, которая отдается вам. Она защищена шифрованием. 
              </div>
          </div>
        </div>
            
          </div> 

        </div>        
    </section>
    <section class="mobile">
      <div class="container">
        <div class="label">Возможности</div>
        <h2 class="header">мобильное приложение убер</h2>
        <div class="subheader">Сделайте заказ, совершите поездку и оплатите ее стоимость, используя свой мобильный телефон</div>
       <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="mobile_item mobile_item_1">
            <a href="#" class="mobile_item_link">оформление заказа одним касанием</a>
            <div class="plus"><a href = "#" class = "mobile_item_link_plus"></a></div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="mobile_item mobile_item_2">
            <a href="#" class="mobile_item_link">надежная подача</a>
            <div class="plus"><a href = "#" class = "mobile_item_link_plus"></a></div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="mobile_item mobile_item_3">
            <a href="" class="mobile_item_link">прозрачные цены</a>
            <div class="plus"><a href = "#" class = "mobile_item_link_plus"></a></div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="mobile_item mobile_item_4">
            <a href="#" class="mobile_item_link">безналичная оплата</a>
            <div class="plus"><a href = "#" class = "mobile_item_link_plus"></a></div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="mobile_item mobile_item_5">
            <a href="" class="mobile_item_link">обратная связь</a>
            <div class="plus"><a href = "#" class = "mobile_item_link_plus"></a></div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="mobile_item mobile_item_6">
            <a href="#" class="mobile_item_link">разделить стоимость поездки</a>
            <div class="plus"><a href = "#" class = "mobile_item_link_plus"></a></div>
          </div>
        </div>
       </div>
      </div>
    </section>
    <section class="advantages">
      <div class="advantages_top">
        <div class="label">Возможности</div>
        <h2 class="header">Выбор - отличная штука!</h2>
        <div class="subheader">Закажите автомобиль, который подходит вам по стилю и бюджету</div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <img class="advantages_top_car" src="img/pictures/UberCar.png" alt="">
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="advantages_bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-4 offset-md-4">
                <div class="advantages_bottom_text">Машины на каждый день. <br> Лучше, быстрее и дешевле, чем такси</div>
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="conditions">
      <div class="container">
        <div class="label">Возможности</div>
        <div class="header">условия и требования</div>
        <div class="row">
          <div class="col-md-6">
            <div class="conditions_block">
              <div class="conditions_list_header">УСЛОВИЯ: со своим авто:</div>
            <ul class="conditions_items">
              <li class="conditions_list">Подключаем к системе UBER  под 10%.</li>
              <li class="conditions_list"> Ни каких взносов  0%!</li>
              <li class="conditions_list">Можем подключать удаленно без приезда в офис</li>
              <li class="conditions_list">ИП не требуется</li>
              <li class="conditions_list">Заказы распределяются без учета рейтинга ближай-<br>шим водителям</li>
              <li class="conditions_list">Работа только по безналичному расчету</li>
              <li class="conditions_list">Деньги перечисляем на карту водителю или наличны-<br>ми в офисе</li>             
            </ul>
            <div class="conditions_descriptions">В день заработок составляет 7000-12000р + бонус 3000т рублей</div>            
            </div>
          </div>
          <div class="col-md-6">
            <div class="conditions_block">
              <div class="conditions_list_header">УСЛОВИЯ: на авто компании:</div>
            <ul class="conditions_items">
              <li class="conditions_list">Предоставляем авто без залога</li>
              <li class="conditions_list">Без ежедневных выплат по аренде</li>
              <li class="conditions_list">Среда пятница и суббота работа на компанию осталь-<br>ные дни вы работаете на себя</li>              
            </ul>            
            <div class="conditions_descriptions"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="conditions_block conditions_block_nomb">
              <div class="conditions_list_header">ТРЕБОВАНИЕ:</div>
            <ul class="conditions_items">
              <li class="conditions_list">Наличие автомобиля без рекламы</li>
              <li class="conditions_list">Автомобиль не должен быть желтый и не с <br>желтыми номерами</li>
              <li class="conditions_list">Машина не старше 3 лет</li>
              <li class="conditions_list">Стаж вождения не менее 3 лет</li>
              <li class="conditions_list">Дивайс на системе андроид 4.0и выше(самсунг)</li>
              
            </ul>            
            <div class="conditions_descriptions"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="conditions_block conditions_block_nomb">
              <div class="conditions_list_header">ДОКУМЕНТЫ:</div>
            <ul class="conditions_items">
              <li class="conditions_list">Права 2 стороны</li>
              <li class="conditions_list">Паспорт лицевая сторона</li>
              <li class="conditions_list">СтС</li>
              <li class="conditions_list">Лицензия( если есть)</li>
              <li class="conditions_list">Номер телефона</li>
              <li class="conditions_list">Номер карты для перечисления денег(указать в <br> письме)!</li>
              
            </ul>            
            <div class="conditions_descriptions"></div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section class="cityes">
      <div class="container">
        <div class="label">города</div>
        <div class="header">По всему миру</div>
        <div class="subheader">Мы в вашем городе и по всему миру</div>
        <div class="cityes_block">
          <a href="#" class="cityes_block_link">посмотреть все города</a>
        </div>
      </div>
    </section>
    <section class="footer">      
      <div class="footer_pannel_line"></div> 
      <div class="footer_pannel">
        <div class="footer_pannel_social">          
          <div class="footer_pannel_social_network">
            <a class="footer_pannel_social_network_link" href=""><i class="fab fa-facebook"></i></a>              
          </div>
          <div class="footer_pannel_social_network">
            <a class="footer_pannel_social_network_link" href=""><i class="fab fa-linkedin"></i></a>
          </div>
          <div class="footer_pannel_social_network">
            <a class="footer_pannel_social_network_link" href=""><i class="fab fa-twitter"></i></a>
          </div>
          <div class="footer_pannel_social_network">
            <a class="footer_pannel_social_network_link" href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="footer_pannel_block_menu_item_logoPays">
          <img src="img/logo/AppStore.png" alt="" class="footer_pannel_block_menu_item_logo">
          <img src="img/logo/GooglePlay.png" alt="" class="footer_pannel_block_menu_item_logo">
          <img src="img/logo/WindowsStore.png" alt="" class="footer_pannel_block_menu_item_logo">
        </div>
        
      
      
      <div class="footer_pannel_main_menu">
          <div class="container">
            <div class="row">
              <div class="col-xl-4 offset-xl-4 col-md-7 offset-md-3">
                <div class="footer_pannel_main_menu_list">
                  <a href= "#" class="footer_pannel_main_menu_list_header">на главную</a>
                  <a href= "#" class="footer_pannel_main_menu_list_header">города</a>
                  <a href= "#" class="footer_pannel_main_menu_list_header">для водителей</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4 offset-xl-4 col-md-7 offset-md-3">
                <div class="footer_pannel_main_menu_list">
                  <a href= "#" class="footer_pannel_main_menu_list_subheader">центр поддержки</a>
                  <a href= "#" class="footer_pannel_main_menu_list_subheader">вакансии</a>
                  <a href= "#" class="footer_pannel_main_menu_list_subheader">разработчики</a>
                  <a href= "#" class="footer_pannel_main_menu_list_subheader">блог</a>
                  <a href= "#" class="footer_pannel_main_menu_list_subheader">о нас</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="footer_language">русский</div>
    <div class="footer_bottom_line">
       
    </div>      
    </section>